body {
	margin:0 auto;
	padding:0;
	height:100%;
	background:url("../img/bg.png") repeat #333;
	font-weight:300;
	font-size:16px;
}

h3 {
	margin:5% auto;
	text-align:center;
	font-size:42px;
	font-weight:100;
	color:#ffffff;
}

a {
	color: primary;
	text-decoration:none;

}

.btn {
	padding:6px 10px;
	background: #ffffff;
	color:#ffffff;
	font-size:12px;
	border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.1s ease all;
	   -moz-transition:0.1s ease all;
	    -ms-transition:0.1s ease all;
	     -o-transition:0.1s ease all;
	        transition:0.1s ease all;
}

.danger {
	background:#e74c3c;
}

.danger:hover{
	background:#c0392b;
}

.danger:active {
	background:#b53529;
	box-shadow:inset 0 0 10px rgb(255, 255, 255);
	-webkit-box-shadow:inset 0 0 10px rgba(0,0,0,0.3);
}

.active, .active:hover, .active:active {
	background:#ffffff !important;
	color:#000000 !important;
	cursor:auto !important;
	box-shadow:auto !important;
	border-style: solid;
	border-color: #b53529;
	word-spacing: normal;
	
}

#loading {
	position:fixed;
	z-index:2000;
	top:0;
	bottom:0;
	right:0;
	left:0;
}

#loading img {
	position:absolute;
	padding:10px;
	top:45%;
	left:45%;
	width:24px;
	height:24px;
	background:rgba(0,0,0,0.6);
	border-radius:5px;
	-webkit-border-radius:5px;
}

#inbox, #msg {
	display:none;
	margin:10% auto 0 auto;
	padding:0;
	width:900px;
	height:auto;
	overflow:hidden;
	background:#000000;
	box-shadow:0 0 20px #222;
	border-right:10px solid#ffffff;
	border-left:10px solid #ffffff;
	border-top:10px solid #ffffff;
	border-bottom:10px solid #ffffff;
}

#inbox table, #inbox table tr {
	margin:0 auto;
	padding:0;
	width:100%;
}

tr.border_bottom td {
 
  	border-right:2px solid#ffffff;
	border-left:2px solid #ffffff;
	border-top:12px solid #ffffff;
	border-bottom:2px solid #ffffff;
}

/*tr:last-child.border_bottom td {
  border-bottom:none;
}*/

#inbox table tr th, #inbox table tr td {
	color:#ffffff;
	font-size:16px;
	text-align:center;
}

#inbox table tr th {
	padding:10px;
	background:#000000;
}

#inbox table tr td {
	padding:10px;
	text-align:center;
	border-right:1px solid #ffffff;
	border-left:1px solid #ffffff;
}

#inbox table tr td a {
	color:#ffffff;
}

#msg {
	padding:20px;
}

#msg table, #pages {
	margin:20px 10px;
	padding:0;
}

#msg table tr {
	width:100%;
}

#msg table tr td {
	margin:0 0 0px;
	padding:15px;
	float:left;
	background: #000000;
	color:#ffffff;
	font-size:14px;
	line-height:5px;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	white-space: pre-wrap;
	word-wrap: break-word;
	
}

#msg pre {
	margin:0 0 60px;
	padding:10px;
	float:left;
	background: #000000;
	color:#ffffff;
	font-size:14px;
	line-height:18px;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.remove {
	margin:0 0 0 10px;
	
}

#pages a {

background: #606060;
	color:#ffffff;
	font-size:14px;
		margin:10 10 10 10px;
	color:#000000 !important;
	box-shadow:auto !important;
	border-style: solid;
	border-color: #b53529;
	font-size:14px;
}

#pages a:hover {


	font-size:14px;
		background:#ffffff !important;
	color:#000000 !important;
	box-shadow:auto !important;
	border-style: solid;
	border-color: #b53529;

}

#pages a:active {
    

	font-size:14px;
		background:#ffffff !important;
	color:#000000 !important;
	cursor:auto !important;
	box-shadow:auto !important;
	border-style: solid;
	border-color: #b53529;
box-shadow:inset 0 0 10px rgba(0,0,255,0.3);
	-webkit-box-shadow:inset 0 0 10px rgba(0,0,255,0.3);
}