.page-heading{
    text-align:center;
}

.training-request-form{
    width: 40%;
    margin: auto;
    border: 1px solid #000000;
	padding: 50px 0;
}

.form-group{
    padding: 10px;
}

.form-group input {
	padding: 5px;
	border-radius: 5px;
}

.form-submit{
    margin: 10px;
}

.form-submit input {
	border-radius: 5px;
	padding: 10px 30px;
	background-color: #4B4E6D;
	color: #fff;
}