body{
	background-color: white;
}

.container{
	width: 100%;
	margin-left: 0 auto;
}

header{
	background: rgba(45,45,45,.98);
}

header::after{
	content: '';
	display: table;
	clear: both;
}

nav{
	float: right;
}

nav ul{
	margin: 0;
	list-style: none;
}

nav li{
	display: inline-block;
	margin-left: 40px;
	margin-right: 20px;
	padding-top: 25px;
}

nav a{
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	font-family: sans-serif;
	font-size: 14px;
}


.page-heading{
    text-align:center;
}

.training-request-form{
    width: 40%;
    margin: auto;
    border: 1px solid #000000;
	padding: 50px 0;
}

.form{
	background-color: white;
}

.form-group{
    padding: 10px;
}

.form-group input {
	padding: 5px;
	border-radius: 5px;
}

.form-submit{
    margin: 10px;
}

.form-submit input {
	border-radius: 5px;
	padding: 10px 30px;
	background-color: #4B4E6D;
	color: #fff;
}
